*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #d2c8c8 !important;
}
.container {
    margin: 20px;
    height: 600px;
    padding: 16px;
    /* background: plum; */
    /* border: 4px solid indigo; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}
.item1 {
    padding: 20px;
    width: 500px;
    height: 570px;  
    background-color: #c7ae8f; 
}
.item2 {
    width: 450px;
    height: 570px;
    background-color: #eaeaea;
}
.content-left{
    position: relative;
}
.para{
    color: #1C0A00;
    font-weight: 900;
}
form{
    padding: 10px;
    margin: 10px;
    position: absolute;
}
label{
    color: #1C0A00;
    font-weight: 900;
}
.content-right{
    position: relative;
}
.fas{
    color: #1C0A00;
}
.btn-primary {
    background-color:  rgb(151 139 124) !important;
    border-color:  rgb(151 139 124) !important;
    color: #1c0a00 !important ;
    font-weight: 900 !important;
}
input:focus {
    border: 2px solid #1C0A00 !important;
    /* color: #1C0A00 !important; */
}
input.active{
    border-color: #1C0A00 !important;
}
span{
    /* border-color: #1C0A00 !important; */
    background-color: rgb(151 139 124) !important;
}
img{
    width: 462px;
    height: 570px;
    position: absolute;
    padding: 0px;
}
a{
    color: green !important;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 900;
}
